.color-input
  /* min-width: 60px
  min-height: 60px
  flex-grow: 1
  background: var(--color-bg)
  display: flex
  justify-content: center
  align-items: center
  width: fit-content
  outline: var(--outline-width) solid var(--color-border)
  outline-offset: -var(--outline-width)
  margin: var(--outline-width)
  transition: outline 200ms ease
  padding: 8px
  &:hover
    outline-color: currentcolor
    .color-preview-wrapper
      cursor: pointer
      transform: scale(1.2)

  .input
    display: none

  .color-preview-wrapper
    min-width: 40px
    min-height: 40px
    display: flex
    justify-content: stretch
    align-items: stretch
    transform: scale(1.0)
    transition: transform 300ms ease
    .color-preview
      width: 100%
      min-height: 100%
      border-radius: 100%
