.button
  box-sizing: border-box
  display: flex
  justify-content: stretch
  align-items: stretch
  background: var(--color-bg)
  outline: var(--outline-width) solid var(--color-border)
  transition: outline 200ms ease
  outline-offset: -var(--outline-width)
  margin: var(--outline-width)
  color: var(--color-encoders)
  &:hover
    outline-color: var(--color-encoders)
