.potentiometer
  --size: 40px
  width: calc(var(--size) + 40px)
  height: calc(var(--size) + 40px)
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center
  background: var(--color-bg)
  outline: 1px solid var(--color-border)
  transition: outline 200ms ease
  outline-offset: -1px
  cursor: grab
  &:hover
    outline-color: var(--color-hover)
    .knob
      --size: 35px
      background: var(--color-hover)
      .angle-indicator
        background: var(--color-hover)
        transform: translateY(10px)
  .knob
    background: var(--color-fg)
    border-radius: 100%
    width: var(--size)
    height: var(--size)
    display: flex
    justify-content: center
    align-items: flex-end
    transition: background 200ms ease, width 200ms ease, height 200ms ease
    .angle-indicator
      transition: background 200ms ease, transform 200ms ease
      box-sizing: border-box
      --width: 5px
      width: var(--width)
      height: 20px
      transform: translateY(5px)
      background: var(--color-fg)
