.slider
  --track-width: 2px
  --thumb-width: 20px
  --thumb-height: 4px

  box-sizing: border-box
  padding: 20px
  background: var(--color-background)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: var(--outline-width)
  transition: outline 200ms ease
  flex-grow: 1
  width: 100%
  height: 100%
  &:hover
    /* outline-color: var(--color-slider)
    .track-wrapper
      .track
        background: var(--color-slider)
        .knob
          background: var(--color-slider)

  &.horizontal
    min-height: 40px
    flex-grow: 1
    .track-wrapper
      .track
        width: 100%
        height: 2px
        min-height: 2px
        align-items: center
        .knob
          transform: translateX(-50%)
          width: var(--thumb-height)
          min-height: var(--thumb-width)
    &:hover
      .track-wrapper
        .track
          .knob
            min-height: calc(var(--thumb-width) * 2.0)

  &.vertical
    min-height: 100px
    height: 100px
    .track-wrapper
      height: 100%
      .track
        width: var(--track-width)
        height: 100%
        justify-content: center
        .knob
          transform: translateY(-50%)
          height: var(--thumb-height)
          min-width: var(--thumb-width)
    &:hover
      .track-wrapper
        .track
          .knob
            min-width: calc(var(--thumb-width) * 2.0)

  .track-wrapper
    width: 100%
    height: 100%
    flex-grow: 1
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    min-height: var(--thumb-width)
    .track
      background: var(--slider--color-foreground)
      display: flex
      box-sizing: border-box
      transition: background 200ms ease
      .knob
        cursor: pointer
        position: relative
        background: var(--slider--color-foreground)
        transition: background 200ms ease, height 200ms ease, min-width 200ms ease, min-height 200ms ease
